body{
    font-family: Arial, sans-serif;
    background-color: #ccc;
    margin: 0;
}

main{
    width: 80%;
    margin: auto;
}

footer{
    background-color: #333;
    padding: 40px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
}
.hero{
    background-image: url(../imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;
}

.hero-content p{
    background: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 10px;
    border-bottom: white solid 1px;
}

.hero nav ul{
    text-align: right;
    margin: 20px 50px 0 0;
}

.hero nav li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    border: 1px solid white;
}

.hero nav a{
    background: rgba(0, 0, 0, 0.3);
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.hero nav a:hover{
    background: rgba(0, 0, 0, 0.6);
}

.content-section{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}

.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
}

.card-1, .card-2{
    margin-right: 2%;
}

.card img{
    width: 100%;
    display: block;
}

.card p{
    background: rgb(85, 84, 84);
    color: white;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content-section header{
    background-color: rgb(212, 208, 208);
    border-bottom: solid 2px rgb(90, 89, 89);
    padding: 5px;
}